@media (max-width: 767px) {
    
}

* {
    text-align: center;
    /* background-color: rgb(37, 36, 36);
    color: white; */
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: 'DotGothic16', sans-serif;
    font-weight: bold;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    background-image: url(./pixel-art-city-background-blue-with-buildings-constructions-bridge-and-cloudy-sky-for-8bit-game-vector.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}

#questions {
   display: flex;
   text-align: center;
   align-items: center;
   flex-direction: column;
   margin-top: 10%;
   
}

#name, #city, #state, #monthly, #rent, #utility, #groceries, #eating, #streaming, #none, #make, #budget, #budgetCost, #budgetYear {
    background-color: rgba(255, 255, 255, 0.396);
    border-radius: 5px;
    
}

#one, #eleven, #two, #three, #four, #five, #six, #seven, #eight, #nine, #ten {
    background-color: rgba(173, 230, 196, 0.83);
    padding: 20px;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.5);
    
}

#frontPage {
    background-color: rgba(173, 230, 196, 0.83);
    padding: 20px;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.5);
    
    margin-left: 650px;
    width: 500px;
    margin-bottom: -280px;
}

#questions {
    padding: 20px;
    border-radius: 20px;
    position: relative;
    
}

#header {
    display: flex;
    
}

#rightHeader {
    margin-left: 1250px;
}

#results {
    display: flex;
   text-align: center;
   align-items: center;
   flex-direction: row;
   justify-content: center;
   gap: 400px;
}



#image {
    
    margin-top: 10%;
    position: relative;
    
}

#frontPage {
    margin-top: 200px;
}

#frontButton {
    padding: 10px;
    margin-top: 20px;
    border-radius: 10px;
    width: 300px;
    background-color: rgb(185, 221, 217);
}

#nameButton, #cityButton, #monthlyButton, #rentButton, #utilityButton, #groceriesButton, #eatingButton, #streamingButton, #noneButton, #makeButton, #budgetButton{
    padding: 5px;
    width: 70px;
    height: 35px;
    border-radius: 10px;
    background-color: rgb(185, 221, 217);
}

.speech-bubble {
    position: absolute;
    background-color: rgb(185, 221, 217);
    color: black;
    padding: 15px;
    border-radius: 10px;                  
    margin-left: 55%;
    margin-top: 10%;
   border: 1px solid;
    width: 200px;
}

#finale{
    position: absolute;
    background-color: rgba(173, 216, 230);
    color: black;
    padding: 15px;
    
    margin-left: 44%;
    margin-top: -23%;
    width: 200px;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.5);

   border: 1px solid;
    
}


#summary, #finalResults {
    display: flex;
    gap: 40px;
    margin-top: -200px;
    margin-bottom: -200px;
    font-size: 20px;
    
   
}

#sum, #cityTotal {
    color: green;
}

#takeHome {
    color: red;
}

#userData, #cityData, #result, #planner {
    background-color:rgba(173, 216, 230, 0.921);
    width: 500px;
    height: 500px;
    margin-top: 100px;
    text-align: center;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.5);
}

#result, #planner{
    padding: 10px;
}
#finalResults {
    margin-left: 400px;
    
}


#plannerText {
    margin-top: 30px;
}

#result{
    padding-bottom: 100px;
    
}
